/* Implementar Reglas @Media */

@media screen and (max-width: 1020px) {
	.contenedor {
        display:flex;
	    flex-direction:column;
	}
	header {
	    flex-direction:column;
	    padding:0;
   	}
	header .logo {
	    margin:30px 0;
	}
	header nav {
	    width: 100%;
	}
	aside {
	    flex-direction:row;
	    flex:0 0 100%;
	}
	aside .widget {
	    flex-grow:1;
	}
}

@media screen and (max-width: 800px) {
	aside {
	    flex-direction:column;
	}
	footer {
	    justify-content:space-around;
	}
}
